<h2>My Items</h2>

{{#each item.myItems}}


<br>

{{name}}

<br>

<img src="{{image}}" alt="""> 



{{/each}}





<form action="/item/create" method="post" enctype="multipart/form-data">

    <label for="">Name:</label>
    <input type="text" name="name" />
    

     <label  for="">Image:</label>
    <input type="file" name="image" />   

    <label for="">Description:</label>
    <textarea type="text" name="description"></textarea> 

    <button type="submit">Add item</button>
</form>




<form action="/item/update" method="post" enctype="multipart/form-data">

    <label for="">Name:</label>
    <input type="text" name="name" value="{{item.name}}"/>

      <img src="{{item.image}}" alt="">

     <label  for="">Image:</label>
    <input type="file" name="image" value="{{item.image}}" />   

    <label for="">Description:</label>
    <textarea type="text" name="description" value="{{item.description}}"></textarea> 

    <button type="submit">Update item</button>
</form>








 
